<h1>Kolokvijum 2</h1>
<div class="main">
  <mat-card class="main-card">

    <button mat-button color="primary" class="btn" (click)="openSignIn()">Sign In</button>
    <button mat-button color="primary" class="btn" (click)="openRegister()">Register</button>

    <div *ngIf="signInOpen">
      <h2>Sign In</h2>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput class="input">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput class="input">
      </mat-form-field>
    </div>

    <div *ngIf="registerOpen">
      <h2>Register</h2>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput class="input">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput class="input">
      </mat-form-field>
    </div>

    <div>
      <div class="example-container">
        <h2>To do</h2>
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box to-do" *ngFor="let item of todo" cdkDrag>{{item}}</div>
        </div>
      </div>

      <div class="example-container">
        <h2>Done</h2>

        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box done" *ngFor="let item of done" cdkDrag>{{item}}</div>
        </div>
      </div>
    </div>

  </mat-card>

</div>
